* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

    background-color: #d91a4e;
    font-size: 18px;
}

nav ul {
    display: flex;

    padding: 2em;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: auto;
}

h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p,
a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

figcaption {
    font-size: small;
}

img {
    max-width: 100px;
}

.content,
.gallerycontainer {
    border-radius: .50em;
    margin: auto;
    padding: 1em;
    max-width: 800px;
    background-color: #f6f6f6;
}

.gallery {
    display: flex;
}

.img-set {
    display: flex;
    flex-direction: column;

    margin: 1rem;
}
