* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

    background-color: #d91a4e;
    font-size: 18px;
}

.content,
.gallery {
    background-color: #f6f6f6;
}
