* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

    background-color: #d91a4e;
    font-size: 18px;
}

h1 {
}

h2 {
}

p,
a {
}

figcaption {
}

img {
    max-width: 100px;
}

.content,
.gallerycontainer {
    background-color: #f6f6f6;
}

.gallery {
    display: flex;
}

.img-set {
    display: flex;
    flex-direction: column;
}
