@import url("https://fonts.googleapis.com/css2?family=Datatype:wdth,wght@50..150,100..900&family=Iosevka+Charon+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

    background-color: #d91a4e;
    font-size: 18px;
    max-width: 100%;
}

hr {
    margin: 1rem 0;
}

nav {
    min-width: 43.75rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 2em;
    gap: 2rem;
    list-style: none;
}

a {
    display: block;

    text-align: center;
    text-decoration: none;

    padding: 0.75rem 1rem;
    color: #121212;
    transition: background-color 0.3s;
}

a:hover {
    color: aqua;
}

h1,
h2 {
    font-family: "Datatype", monospace;
    font-weight: 400;

    margin: auto;
    padding: 0.5rem 0;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    padding: 0.5rem 0;
}

p,
a,
ol,
ul {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

figcaption {
    font-size: small;
}

img {
    max-width: 100px;
}

footer {
    font-size: 0.75rem;
    margin: 1rem 0 auto;
}

footer p {
    text-align: center;
}

.dropdown {
    float: left;
    overflow: hidden;

    padding-bottom: 0.5rem;
}

.dropdown .dropbtn {
    font-size: 1rem;

    border: none;
    outline: none;
    padding: 0.875rem 1rem;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: #970d32;
    color: #f6f6f6;

    transition: background-color 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;

    min-width: 6.7rem;
    z-index: 1;

    flex-direction: column;
    padding: 0;
    gap: 0;
}

.dropdown-content a {
    display: block;
    float: none;

    color: #121212;
    text-decoration: none;
    text-align: left;
    padding: 0.875rem 1rem;
}

.dropdown-content a:hover {
    background-color: #584148;
    color: #f6f6f6;

    transition: background-color 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.ref {
    text-align: left;
}

.ref:hover {
    color: rgb(0, 153, 255);
}

.content,
.gallerycontainer {
    display: flex;
    flex-direction: column;

    border-radius: 0.5em;
    margin: auto;
    padding: 2em;
    max-width: 1000px;
    background-color: #f6f6f6;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.gallery img {
    width: 100%;
    display: block;
}

.gallery figcaption {
    font-size: small;
    text-align: center;
    margin-top: 0.25rem;
}

.project2 {
    max-height: 1100px;
    overflow-y: auto;
}

.project2 p {
    padding-bottom: 1rem;
}

.sub-header {
    text-align: center;
}

.copy-ul {
    display: block;

    font-family: "Roboto", sans-serif;
    font-weight: 400;

    padding: 0.75rem 2rem;
    list-style: disc;
}
