@import url("https://fonts.googleapis.com/css2?family=Datatype:wdth,wght@50..150,100..900&family=Iosevka+Charon+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  background-color: #fafafa;
  background-image: linear-gradient(#d91a4e 1px, transparent 1px), linear-gradient(90deg, #d91a4e 1px, transparent 1px);
  background-size: 40px 40px, 40px 40px;
  background-repeat: repeat, repeat;
  font-size: 18px;
  width: 100%;
  overflow-x: hidden;
}

hr {
  margin: 1rem 0;
}

nav {
  min-width: 43.75rem;
  position: relative;
  top: 0;
  background-color: rgba(18, 18, 18, 0.9);
  box-shadow: 0.06rem 0.01rem 0.2rem #121212;
  width: 100%;
  padding: 0 0.75rem;
  z-index: 100;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a {
  display: block;
  text-align: center;
  padding: 0.75rem;
  color: #fafafa;
}
nav a:hover {
  color: aqua;
}

a.link {
  color: #d91a4e;
  text-decoration: underline;
}
a.link:hover {
  color: #970d32;
}

.cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d91a4e;
  font-size: "Roboto", sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  background-color: #ffffff;
  border: solid #d91a4e 2px;
  box-shadow: 5px 5px 0px 0px #d91a4e;
  width: 200px;
  height: 40px;
  transition: 0.3s;
  margin-top: 2rem;
}

.cta-btn:hover {
  box-shadow: 0 0 #d91a4e;
  color: #fff;
  background-color: #d91a4e;
}

h1,
h2 {
  font-family: "Datatype", monospace;
  font-weight: 400;
  margin: auto;
  padding: 0.5rem 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0.5rem 0;
}

p,
a,
ol,
ul {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

ol {
  padding-left: 3.3333333333rem;
}

figcaption {
  font-size: small;
}

img {
  max-width: 100px;
}

footer {
  font-size: 0.75rem;
  margin: 1rem 0 auto;
}
footer p {
  text-align: center;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding-bottom: 0.5rem;
}
.dropdown .dropbtn {
  border: none;
  padding: 0.875rem 1rem;
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color: #970d32;
  color: #f6f6f6;
  transition: background-color 0.3s;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 6.7rem;
  z-index: 1;
  flex-direction: column;
  padding: 0;
  gap: 0;
}
.dropdown-content a {
  display: block;
  float: none;
  color: #121212;
  text-decoration: none;
  text-align: left;
  padding: 0.875rem 1rem;
}
.dropdown-content a:hover {
  background-color: #584148;
  color: #f6f6f6;
  transition: background-color 0.3s;
}

.ref-link {
  text-align: left;
  color: #584148;
}
.ref-link:hover {
  color: #d91a4e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: solid 1px;
  border-radius: 0.313rem;
  margin: 4rem auto;
  max-width: 1000px;
  max-height: 1100px;
  background-color: #fafafa;
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: solid 1px;
  border-radius: 0.313rem;
  margin: 4rem auto;
  max-width: 1000px;
  max-height: 1100px;
  background-color: #fafafa;
  display: none;
  overflow: hidden;
}
.window.active {
  display: flex;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: solid #121212 1px;
  padding: 0.75rem;
  cursor: grab;
}

.controls {
  cursor: pointer;
}

.content {
  padding: 1.5rem;
  overflow-y: scroll;
}

.collapse-title {
  background-color: #777777;
  border-radius: 0.313rem;
  padding: 1.5rem;
}

.window--works {
  width: 900px;
  max-height: 600px;
}

.window--lore {
  width: 850px;
  max-height: 640px;
}

.window--about {
  width: 850px;
  max-height: 640px;
}

.window--faq {
  width: 800px;
  max-height: 600px;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
}
.gallery figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
}
.gallery img {
  width: 100%;
  display: block;
}
.gallery figcaption {
  font-size: small;
  text-align: center;
  margin-top: 0.25rem;
}

.project2 {
  max-height: 1100px;
  overflow-y: auto;
}
.project2 p {
  padding-bottom: 1rem;
}

.sub-header {
  text-align: center;
}

.copy-ul {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0.75rem 2rem;
  list-style: disc;
}

.bg-bust {
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: 100vh;
  max-width: 100%;
  z-index: -1;
  pointer-events: none;
}

.desktop-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  flex-flow: column wrap;
  position: absolute;
  top: 80px;
  left: 40px;
  max-height: 90vh;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
}
.desktop-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.desktop-icon a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: inherit;
}
.desktop-icon i {
  font-size: 2.5rem;
  color: #121212;
}

.ico-name {
  font-size: 0.75rem;
  color: #121212;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 1440px) {
  .bg-bust {
    width: 100vw;
  }
}
@media only screen and (max-width: 600px) {
  .bg-bust {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .desktop-icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    position: relative;
    top: auto;
    left: auto;
    gap: 30px 0px;
    max-height: -moz-fit-content;
    max-height: fit-content;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */