@import url("https://fonts.googleapis.com/css2?family=Datatype:wdth,wght@50..150,100..900&family=Iosevka+Charon+Mono&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

    background-color: #d91a4e;
    font-size: 18px;
    max-width: 100%;
}

nav {
    min-width: 50rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 2em;
    gap: 2rem;
    list-style: none;
}

nav li {
    display: inline-block;
    position: relative;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: block;

    text-align: center;
    text-decoration: none;

    padding: 0.75rem 1rem;
    color: #121212;
    transition: background-color 0.3s;
}

a:hover {
    color: aqua;
}

#home-navbar {
    border-radius: 0.5em;
    margin: auto;
    padding: 2em;
    max-width: 800px;
    background-color: #f6f6f6;
}

.dropdown {
    float: left;
    /* overflow: hidden; */

    padding-bottom: 0.5rem;
}

.dropdown .dropbtn {
    font-size: 1rem;

    border: none;
    outline: none;
    padding: 0.875rem 1rem;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: #970d32;
    color: #f6f6f6;

    transition: background-color 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;

    min-width: 6.7rem;
    z-index: 1;

    flex-direction: column;
    padding: 0;
    gap: 0;
}

.dropdown-content a {
    display: block;
    float: none;

    color: #121212;
    text-decoration: none;
    text-align: left;
    padding: 0.875rem 1rem;
}

.dropdown-content a:hover {
    background-color: #584148;
    color: #f6f6f6;

    transition: background-color 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.full-image {
    color: #d91a4e;
}
